/*
  Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
 Typography
*/
* {
  font-family: "Cousine", monospace;
}

/*
 Page
*/

body {
  background-color: #000;
  color: #bbb;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  right: 16px;
  bottom: 16px;
  margin-left: 16px;
  max-width: max(50%, 300px);
  text-align: right;
}

/* text styles */
main h1 {
  font-size: clamp(2rem, 1.5rem + 5vw, 5rem);
}
main p {
  font-size: clamp(1.5rem, 1rem + 5vw, 4rem);
}

footer p {
  font-size: 12px;
}

a {
  color: #bbf;
}
a:visited {
  color: #99c;
}

.hidden {
  display: none;
}

.ensure-visible {
  display: block !important;
  opacity: 1 !important;
  animation: none !important;
}

/* button */
#play-button:disabled #loading {
  display: block;
}
#play-button:disabled #loaded {
  display: none;
}
#play-button:enabled #loading {
  display: none;
}
#play-button:enabled #loaded {
  display: block;
}

#play-button {
  max-width: max(25%, 150px);
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid currentColor;
  border-radius: 999px;
  background-color: #000;
  color: currentColor;
  padding: 1rem;
  opacity: 0;
}

#play-button.ensure-visible {
  position: absolute;
  padding: 8px;
  right: 16px;
  top: 16px;
  left: unset;
  max-height: 48px;
  opacity: 1 !important;
  animation: none !important;
  transform: unset;
}

#play-button:hover {
  color: white;
}

#play-button:active {
  transform: translate(-50%, calc(2px));
}
#play-button.ensure-visible:active {
  transform: translateY(2px);
}

/* slider */
#override-slider-container {
  margin-top: 1rem;
}

#override-slider {
  width: 200px;
}

/* poem */
#text-container {
  position: relative;
}

#text-container > * {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
  width: 100%;
  text-align: center;
}

#text-container > *:first-child {
  position: static;
}

#text-container > .visible {
  opacity: 1;
}

/* intro text */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#intro-texts {
  position: relative;
  width: 100%;
}

#intro-texts > *,
#play-button {
  display: inline-block;
  width: 100%;
  position: absolute;
  text-align: center;
  --fade-time: 2s;
  --visible-time: 3.5s;
  --total-time: 7.5s;
}

#intro-texts > * {
  top: 0;
}

#intro-texts > p {
  transform: translateY(-50%);
  padding: max(24px, 3vw);
}

#title.start {
  animation: fadeout both 2s;
}

#intro-texts.start > .intro-1 {
  animation: fadein var(--fade-time) backwards,
    fadeout var(--fade-time) calc(var(--fade-time) + var(--visible-time))
      forwards;
}

#intro-texts.start > .intro-2 {
  animation: fadein var(--fade-time) calc(1 * var(--total-time)) backwards,
    fadeout var(--fade-time)
      calc((1 * var(--total-time)) + (var(--fade-time) + var(--visible-time)))
      forwards;
}

#intro-texts.start > .intro-3 {
  animation: fadein var(--fade-time) calc(2 * var(--total-time)) backwards,
    fadeout var(--fade-time)
      calc((2 * var(--total-time)) + (var(--fade-time) + var(--visible-time)))
      forwards;
}

#intro-texts.start ~ #play-button {
  animation: fadein var(--fade-time) calc(3 * var(--total-time)) both;
}

/* error */

#error:not(.hidden) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #150000;
}

/* refresh text */
#refresh-text {
  opacity: 0;
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: clamp(1rem, 1rem + 3vw, 2rem);
}

#text-container {
  transition: opacity 2s;
  opacity: 1;
}

#cheat-link {
  margin-bottom: 8px;
}
